@import '@sass/abstracts/vars/colors';
@import '@sass/abstracts/mixins';
@import 'variables';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: $large-margin;
  padding-block: $small-margin;
  inline-size: 100%;

  .logo {
    inline-size: 70px;
  }

  border-block-end: 2px solid $border-gray;
}
